.main-content-wide {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

.tweets-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.tweet-item {
    flex-basis: 45%;
    min-width: 300px;
}